.DS_Store

# Python
__pycache__/
*.py[cod]

# Environments
venv/

# Local config
.env

# Generated outputs
output_documents/
temp_processing/
*.zip

# Logs
app.log
app_startup.log

# Videos
*.mp4

# WSL Zone Identifiers
*:Zone.Identifier
